*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.d-flex{
  display: flex;
}

.active i{
  color:#4bc800;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
  height:50px;
  width:100%;
  background-color: black;
  color:white;
  padding:5px 20px;

}

.head-icons.d-flex{
  height:100%;
  align-items: center;
  justify-content: flex-end;
}


.head-icons span{
  color:rgb(255,255,255);
  background-color: #4a4a4a;
  border-radius:5px;
  padding:3px 6px;
  text-align: center;
  margin-left:10px;
  font-size:90%;
}


/* MAIN */

main{
  height: calc(94vh - 50px);
  width:100%;
  background-color: black;
  overflow-y: auto;
  overflow-x: hidden;
  padding:55px 85px 6vh;
}

main .cards-container.d-flex{
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

main .cards-container.d-flex .card{
  position: relative;
  padding:5px;
  min-height: 70px;
  min-width:125px;
}

main .card img{
  width:100%;
}


main .card>.user-details{
  background-color: rgba(0,0,0,0.4);
  color: rgb(255,255,255);
  font-size:90%;
  position: absolute;
  left:5px;
  bottom:8px;
  padding:5px 10px;
}




/* FOOTER */

footer{
  background-color:rgb(39,39,39);
  width:100%;
  min-height:50px;
  position:fixed;
  bottom:0;
  left:0;
  z-index: 999;
}

footer i:not(i.fa-chevron-up){
  font-size:150%;
}

footer .fa-chevron-up{
  font-size:80%;
}

footer span:hover{
  transform: scale(1.05);
  cursor: pointer;
}

footer span:active i{
  color:#4bc800;
}

.foot-icons.d-flex{
  justify-content: space-between;
  align-items: center;
  color: rgb(255,255,255);
  height:100%;
  padding-left:2vw;
}

.icons-audio-video span, .icons-manage-room span{
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-right:15px;
  font-size: calc(8px + 1vh);
}

.icons-manage-room span:last-of-type{
  margin:0;
}
  
.btn-end-meeting{
  color:red;
  border:none;
  height:100%;
  display: inline-block;
  height:100%;
  padding:30px;
  background-color: #4a4a4a;
  text-align: center;

}

.btn-end-meeting:hover{
  text-decoration: underline;
  background-color: rgba(153, 152, 152, 0.652);
  cursor: pointer;
}

.btn-end-meeting:active{
  transform:scale(0.9);
}